
<%- include('./partial/header') %>


  <header class="header header-intro-clearance header-4">
    <div class="header-top">
      <div class="container p-3">
        <div class="header-left">
          <a href="tel:#"><i class="icon-phone"></i>Call: 9747604603</a>
        </div>
        <!-- End .header-left -->

        <div class="header-right">
          <ul class="top-menu">
            <li>
              <!-- <a href="#">Links</a> -->
              <ul>
                <li>
                  <div class="header-">
                    <a href="#">USD</a>
                  </div>
                </li>
                <li>
                  <div class="header-">
                    <a href="#">English</a>
                  </div>
                </li>
                <% if(User){ %>

                <li>
                  <a href="#"><%= User.email %></a>
                </li>
                <li>
                  <a href="/user/logout">Log out</a>
                </li>
                <% }else{ %>
                           
                  <li>
                    <a href="#signin-modal" data-toggle="modal"
                      >Sign in / Sign up</a
                    >
                  </li>
                  <% } %>
                
              </ul>
            </li>
          </ul>
          <!-- End .top-menu -->
        </div>
        <!-- End .header-right -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .header-top -->

    <div class="header-middle">
      <div class="container ">
        <div class="header-left ">
          <!-- <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button> -->

          <a href="index.html" class="">
            <img
              src="/images/demos/demo-4/logo.png"
              alt="JOLT Logo"
              width="105"
              height="15"
            />
          </a>
        </div>
        <!-- End .header-left -->

        <div class="header-center">
          <div
            class="header-search header-search-extended header-search-visible d-none d-lg-block"
          >
            <a href="#" class="search-toggle" role="button">
              <i class="icon-search"></i>
            </a>
            <form action="/user/productpage" method="get">
              <div class="header-search-wrapper search-wrapper-wide">
                <label for="q" class="sr-only">Search</label>
                <button class="btn btn-primary" type="submit">
                  <i class="icon-search"></i>
                </button>
                <input
                  type="search"
                  class="form-control"
                  name="search" <!-- Change the name attribute to "search" -->
                  id="q"
                  placeholder="Search product ..."
                  required
                />
              </div>
              <!-- End .header-search-wrapper -->
            </form>
          </div>
          <!-- End .header-search -->
        </div>
        

        <div class="header-right">
          <div class="wishlist">
            <a href="/wishlist/" title="Wishlist">
              <div class="icon">
                <i class="icon-heart-o"></i>
                <!-- <span class="wishlist-count badge">3</span> -->
              </div>
              <p>Wishlist</p>
            </a>
          </div>
          <!-- End .compare-dropdown -->

          <div class="dropdown cart-dropdown">
            <a href="/api/cart" class="dropdown-toggle">
              <div class="icon">
                <i class="icon-shopping-cart"></i>
                <!-- <span class="cart-count">2</span> -->
              </div>
              <p>Cart</p>
            </a>
          </div>
          <!-- End .cart-dropdown -->
        </div>
        <!-- End .header-right -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .header-middle -->

    <div class="header-bottom sticky-header">
      <div class="container pl-0 bg-light">
        <div class="header-left">
          <div class="dropdown category-dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-display="static"
              title="Browse Categories"
            >
              Browse Categories <i class="icon-angle-down"></i>
            </a>

            <div class="dropdown-menu">
              <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                  <% categories.forEach(category => { %>
                      <li><a href="/user/category/<%= category._id %>"><%= category.name %></a></li>
                  <% }) %>
              </ul>
                <!-- End .menu-vertical -->
              </nav>
              
              <!-- End .side-nav -->
            </div>
            <!-- End .dropdown-menu -->
          </div>
          <!-- End .category-dropdown -->
        </div>
        <!-- End .header-left -->

        <div class="header-center">
          <nav class="main-nav">
            <ul class="menu sf-arrows">
              <li class="megamenu-container active"><a href="/user/" class="">Home</a></li>
              <li> <a href="/user/productpage" class="">Product</a></li>
              <li><a href="#" class="sf-with-ul">Pages</a>
                <ul>
                  <li><a href="/user/about" class="">About</a> </li>
                  <li><a href="/user/contact" class="">Contact</a> </li>
                  <!-- <li><a href="login.html">Login</a></li> -->
                  <li><a href="/user/faq">FAQs</a></li>
                  <li><a href="/user/error">Error 404</a></li>
                  <li><a href="/user/Myaccount">My account</a></li>
                  <!-- <li><a href="coming-soon.html">Coming Soon</a></li> -->
                </ul>
              </li>
            </ul>
            <!-- End .menu -->
          </nav>
          <!-- End .main-nav -->
        </div>
        <!-- End .header-center -->

        <div class="header-right">
          <i class="la la-lightbulb-o"></i>
          <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
        </div>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .header-bottom -->
  </header>
  <!-- End .header -->






  
  <div class="page-wrapper">
  <main class="main">
    <div class="intro-slider-container mb-5">
      <div
        class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light"
        data-toggle="owl"
        data-owl-options='{
                        "dots": true,
                        "nav": false, 
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'
      >
        <div
          class="intro-slide"
          style="
            background-image: url(/images/demos/demo-4/slider/slide-1.png);
          "
        >
          <div class="container intro-content">
            <div class="row justify-content-end">
              <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                <h3 class="intro-subtitle text-third">Deals and Promotions</h3>
                <!-- End .h3 intro-subtitle -->
                <h1 class="intro-title">Beats by</h1>
                <h1 class="intro-title">Dre Studio 3</h1>
                <!-- End .intro-title -->

                <div class="intro-price">
                  <sup class="intro-old-price">$349,95</sup>
                  <span class="text-third"> $279<sup>.99</sup> </span>
                </div>
                <!-- End .intro-price -->

                <a href="category.html" class="btn btn-primary btn-round">
                  <span>Shop More</span>
                  <i class="icon-long-arrow-right"></i>
                </a>
              </div>
              <!-- End .col-lg-11 offset-lg-1 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .intro-content -->
        </div>
        <!-- End .intro-slide -->

        <div
          class="intro-slide"
          style="
            background-image: url(/images/demos/demo-4/slider/slide-2.png);
          "
        >
          <div class="container intro-content">
            <div class="row justify-content-end">
              <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                <h3 class="intro-subtitle text-primary">New Arrival</h3>
                <!-- End .h3 intro-subtitle -->
                <h1 class="intro-title">
                  Apple iPad Pro <br />12.9 Inch, 64GB
                </h1>
                <!-- End .intro-title -->

                <div class="intro-price">
                  <sup>Today:</sup>
                  <span class="text-primary"> $999<sup>.99</sup> </span>
                </div>
                <!-- End .intro-price -->

                <a href="category.html" class="btn btn-primary btn-round">
                  <span>Shop More</span>
                  <i class="icon-long-arrow-right"></i>
                </a>
              </div>
              <!-- End .col-md-6 offset-md-6 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .intro-content -->
        </div>
        <!-- End .intro-slide -->
      </div>
      <!-- End .intro-slider owl-carousel owl-simple -->

      <span class="slider-loader"></span
      ><!-- End .slider-loader -->
    </div>
    <!-- End .intro-slider-container -->


    <div class="container">
      <h2 class="title text-center mb-4">Explore Popular Categories</h2>
      <!-- End .title text-center -->


      <div class="cat-blocks-container">
        <div class="row">
          <div class="col-6 col-sm-4 col-lg-2">
            <a href="/api/cart/" class="cat-block">
              <figure>
                <span>
                  <img
                    src="/images/demos/demo-4/cats/1.png"
                    alt="Category image"
                  />
                </span>
              </figure>

              <h3 class="cat-block-title">Computer & Laptop</h3>
              <!-- End .cat-block-title -->
            </a>
          </div>
          <!-- End .col-sm-4 col-lg-2 -->

          <div class="col-6 col-sm-4 col-lg-2">
            <a href="category.html" class="cat-block">
              <figure>
                <span>
                  <img
                    src="/images/demos/demo-4/cats/2.png"
                    alt="Category image"
                  />
                </span>
              </figure>

              <h3 class="cat-block-title">Digital Cameras</h3>
              <!-- End .cat-block-title -->
            </a>
          </div>
          <!-- End .col-sm-4 col-lg-2 -->

          <div class="col-6 col-sm-4 col-lg-2">
            <a href="category.html" class="cat-block">
              <figure>
                <span>
                  <img
                    src="/images/demos/demo-4/cats/3.png"
                    alt="Category image"
                  />
                </span>
              </figure>

              <h3 class="cat-block-title">Smart Phones</h3>
              <!-- End .cat-block-title -->
            </a>
          </div>
          <!-- End .col-sm-4 col-lg-2 -->

          <div class="col-6 col-sm-4 col-lg-2">
            <a href="category.html" class="cat-block">
              <figure>
                <span>
                  <img
                    src="/images/demos/demo-4/cats/4.png"
                    alt="Category image"
                  />
                </span>
              </figure>

              <h3 class="cat-block-title">Televisions</h3>
              <!-- End .cat-block-title -->
            </a>
          </div>
          <!-- End .col-sm-4 col-lg-2 -->

          <div class="col-6 col-sm-4 col-lg-2">
            <a href="category.html" class="cat-block">
              <figure>
                <span>
                  <img
                    src="/images/demos/demo-4/cats/5.png"
                    alt="Category image"
                  />
                </span>
              </figure>

              <h3 class="cat-block-title">Audio</h3>
              <!-- End .cat-block-title -->
            </a>
          </div>
          <!-- End .col-sm-4 col-lg-2 -->

          <div class="col-6 col-sm-4 col-lg-2">
            <a href="category.html" class="cat-block">
              <figure>
                <span>
                  <img
                    src="/images/demos/demo-4/cats/6.png"
                    alt="Category image"
                  />
                </span>
              </figure>

              <h3 class="cat-block-title">Smart Watches</h3>
              <!-- End .cat-block-title -->
            </a>
          </div>
          <!-- End .col-sm-4 col-lg-2 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .cat-blocks-container -->
    </div>
    <!-- End .container -->






    <div class="mb-4"></div>
    <!-- End .mb-4 -->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="banner banner-overlay banner-overlay-light">
            <a href="#">
              <img
                src="/images/demos/demo-4/banners/banner-1.png"
                alt="Banner"
              />
            </a>

            <div class="banner-content">
              <h4 class="banner-subtitle"><a href="#">Smart Offer</a></h4>
              <!-- End .banner-subtitle -->
              <h3 class="banner-title">
                <a href="#"
                  >Save $150 <strong>on Samsung <br />Galaxy Note9</strong></a
                >
              </h3>
              <!-- End .banner-title -->
              <a href="#" class="banner-link"
                >Shop Now<i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <!-- End .banner-content -->
          </div>
          <!-- End .banner -->
        </div>
        <!-- End .col-md-4 -->

        <div class="col-md-6 col-lg-4">
          <div class="banner banner-overlay banner-overlay-light">
            <a href="#">
              <img
                src="/images/demos/demo-4/banners/banner-2.jpg"
                alt="Banner"
              />
            </a>

            <div class="banner-content">
              <h4 class="banner-subtitle"><a href="#">Time Deals</a></h4>
              <!-- End .banner-subtitle -->
              <h3 class="banner-title">
                <a href="#"
                  ><strong>Bose SoundSport</strong> <br />Time Deal -30%</a
                >
              </h3>
              <!-- End .banner-title -->
              <a href="#" class="banner-link"
                >Shop Now<i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <!-- End .banner-content -->
          </div>
          <!-- End .banner -->
        </div>
        <!-- End .col-md-4 -->

        <div class="col-md-6 col-lg-4">
          <div class="banner banner-overlay banner-overlay-light">
            <a href="#">
              <img
                src="/images/demos/demo-4/banners/banner-3.png"
                alt="Banner"
              />
            </a>

            <div class="banner-content">
              <h4 class="banner-subtitle"><a href="#">Clearance</a></h4>
              <!-- End .banner-subtitle -->
              <h3 class="banner-title">
                <a href="#"
                  ><strong>GoPro - Fusion 360</strong> <br />Save $70</a
                >
              </h3>
              <!-- End .banner-title -->
              <a href="#" class="banner-link"
                >Shop Now<i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <!-- End .banner-content -->
          </div>
          <!-- End .banner -->
        </div>
        <!-- End .col-lg-4 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->










<!-- End .mb-5 -->
<div class="mb-3"></div>
<div class="container new-arrivals">
  <div class="heading heading-flex mb-3">
    <div class="heading-left">
      <h2 class="title">New Arrivals</h2>
    </div>
    <div class="heading-right">
      <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
        <!-- Iterate over categories to create navigation pills -->
        <% categories.forEach(category => { %>
          <li class="nav-item">
            <!-- Add 'active' class if the current category matches the selected one -->
            <a class="nav-link <%= category._id == queryCategory ? 'active' : '' %>" 
              href="/user/?category=<%= category._id %>"><%= category.name %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="tab-content tab-content-carousel just-action-icons-sm">
    <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
      <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" 
           data-toggle="owl" 
           data-owl-options='{
             "nav": true, "dots": true, "margin": 20, "loop": false, 
             "responsive": { "0": {"items":2}, "480": {"items":2}, "768": {"items":3}, "992": {"items":4}, "1200": {"items":5}}}'>
        
        <!-- Display products from the selected category -->
        <% if (product.length > 0) { %>
          <% product.forEach(function(product) { %>
            <% product.variants.forEach(function(variant) { %>
              <div class="product product-2">
                <figure class="product-media">
  
                  <!-- Display offer badge if the variant has an offer -->
                  <% if (variant.offer && variant.offer.offerPercentage) { %>
                    <span class="offer-badge position-absolute top-0 start-0 bg-success text-white p-2" style="font-size: 12px;">
                      <%= variant.offer.offerPercentage %> % off
                    </span>
                  <% } %>
  
                  <!-- Check if stock is low, display "Low Stock" label -->
                  <% if (variant.stock < 10) { %>
                    <span class="product-label label-circle label-top">Low Stock</span>
                  <% } %>
  
                  <a href="/user/product?id=<%= product._id %>">
                    <img src="/<%= variant.images[0] %>" 
                         alt="Product image" 
                         class="product-image" 
                         style="width: 250px; height: 250px; object-fit: cover;" />
                  </a>
  
                  <div class="product-action-vertical">
                    <a href="javascript:void(0)" class="btn-product-icon btn-wishlist" title="Add to wishlist" 
                       data-product-id="<%= product._id %>" 
                       data-variant-id="<%= variant._id %>"></a>
                  </div>
                  
                  <div class="product-action">
                    <a href="javascript:void(0)" 
                       class="btn-product btn-cart" 
                       data-product-id="<%= product._id %>" 
                       data-variant-id="<%= variant._id %>" 
                       data-price="<%= variant.price %>" 
                       data-stock="<%= variant.stock %>" 
                       title="Add to cart"><span>add to cart</span></a>
                  </div>
                </figure>
  
                <div class="product-body">
                  <div class="product-cat">
                    <a href="#"><%= product.category_id.name %></a> <!-- Display the category name -->
                  </div>
  
                  <h3 class="product-title">
                    <a href="/user/product?id=<%= product._id %>"><%= product.product_name %></a>
                  </h3>
  
                  <div class="product-price">
                    <% if (variant.offer && variant.offer.offerPercentage) { %>
                      <!-- If offer is present, show original and discounted price -->
                      <p class="text-danger">
                        <small><del>INR <%= variant.price %></del></small> <!-- Original price -->
                        INR <%= variant.discount_price %> <!-- Discounted price -->
                      </p>
                    <% } else { %>
                      <!-- If no offer, show original price only -->
                      INR <%= variant.price %>
                    <% } %>
                  </div>
  
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 0%"></div>
                    </div>
                    <span class="ratings-text">( No Reviews )</span>
                  </div>
                </div>
              </div>
            <% }) %>
          <% }) %>
        <% } else { %>
          <!-- Display a message if there are no products for the selected category -->
          <p>No products found in this category.</p>
        <% } %>
  
      </div>
    </div>
  </div>
  
</div>








    <div class="mb-6"></div>
    <!-- End .mb-6 -->
    <div class="container">
      <div
        class="cta cta-border mb-5"
        style="background-image: url(/images/demos/demo-4/bg-1.jpg)"
      >
        <img
          src="/images/demos/demo-4/camera.png"
          alt="camera"
          class="cta-img"
        />
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="cta-content">
              <div class="cta-text text-right text-white">
                <p>
                  Shop Today’s Deals <br /><strong
                    >Awesome Made Easy. HERO7 Black</strong
                  >
                </p>
              </div>
              <!-- End .cta-text -->
              <a href="#" class="btn btn-primary btn-round"
                ><span>Shop Now - $429.99</span
                ><i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <!-- End .cta-content -->
          </div>
          <!-- End .col-md-12 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .cta -->
    </div>
    <!-- End .container -->






  

    <div class="bg-light pt-5 pb-6">
      <div class="container trending-products">
        <div class="heading heading-flex mb-3">
          <div class="heading-left">
            <h2 class="title">Trending Products</h2>
            <!-- End .title -->
          </div>
          <!-- End .heading-left -->

          <div class="heading-right">
            <ul
              class="nav nav-pills nav-border-anim justify-content-center"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="trending-top-link"
                  data-toggle="tab"
                  href="#trending-top-tab"
                  role="tab"
                  aria-controls="trending-top-tab"
                  aria-selected="true"
                  >Top Rated</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="trending-best-link"
                  data-toggle="tab"
                  href="#trending-best-tab"
                  role="tab"
                  aria-controls="trending-best-tab"
                  aria-selected="false"
                  >Best Selling</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="trending-sale-link"
                  data-toggle="tab"
                  href="#trending-sale-tab"
                  role="tab"
                  aria-controls="trending-sale-tab"
                  aria-selected="false"
                  >On Sale</a
                >
              </li>
            </ul>
          </div>
          <!-- End .heading-right -->
        </div>
        <!-- End .heading -->

        <div class="row">
          <div class="col-xl-5col d-none d-xl-block">
            <div class="banner">
              <a href="#">
                <img
                  src="/images/demos/demo-4/banners/banner-4.jpg"
                  alt="banner"
                />
              </a>
            </div>
            <!-- End .banner -->
          </div>
          <!-- End .col-xl-5col -->

          <div class="col-xl-4-5col">
            <div class="tab-content tab-content-carousel just-action-icons-sm">

              <div
                class="tab-pane p-0 fade show active"
                id="trending-top-tab"
                role="tabpanel"
                aria-labelledby="trending-top-link"
              >
                <div
                  class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                  data-toggle="owl"
                  data-owl-options='{
                                            "nav": true, 
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                        <% top.forEach(product => { %>
                                          <div class="product product-2">
                                            <figure class="product-media">
                                              <!-- Display offer badge if the first variant has an offer -->
                                              <% if (product.variants[0].offer && product.variants[0].offer.offerPercentage) { %>
                                                <span class="offer-badge position-absolute top-0 start-0 bg-success text-white p-2" style="font-size: 12px;">
                                                  <%= product.variants[0].offer.offerPercentage %> % off
                                                </span>
                                              <% } %>
                                        
                                              <!-- Check if stock is low, display "Top" label -->
                                              <% if (product.variants[0].stock < 10) { %>
                                                <span class="product-label label-circle label-top">Top</span>
                                              <% } %>
                                        
                                              <a href="/user/product?id=<%= product._id %>">
                                                <!-- Display the first image of the first variant by default -->
                                                <img
                                                  src="/<%= product.variants[0].images[0] %>" style="width: 250px; height: 250px; object-fit: cover;"
                                                  alt="Product image"
                                                  class="product-image"
                                                />
                                              </a>
                                        
                                              <div class="product-action-vertical">
                                                <a href="javascript:void(0)" 
                                                   class="btn-product-icon btn-wishlist" 
                                                   title="Add to wishlist" 
                                                   data-product-id="<%= product._id %>" 
                                                   data-variant-id="<%= product.variants[0]._id %>">
                                                  <!-- Optional icon for wishlist -->
                                                </a>
                                              </div>
                                              <!-- End .product-action-vertical -->
                                        
                                              <div class="product-action">
                                                <!-- Updated Add to Cart Button -->
                                                <a href="javascript:void(0)"
                                                   class="btn-product btn-cart"
                                                   data-product-id="<%= product._id %>"
                                                   data-variant-id="<%= product.variants[0]._id %>"
                                                   data-price="<%= product.variants[0].price %>"
                                                   data-stock="<%= product.variants[0].stock %>"
                                                   title="Add to cart">
                                                   <span>add to cart</span>
                                                </a>
                                              </div>
                                              <!-- End .product-action -->
                                            </figure>
                                            <!-- End .product-media -->
                                        
                                            <div class="product-body">
                                              <div class="product-cat">
                                                <!-- Use the populated category name -->
                                                <a href="#">
                                                  <%= product.category_id.name %>
                                                </a>
                                              </div>
                                              <!-- End .product-cat -->
                                        
                                              <h3 class="product-title">
                                                <a href="/user/product?id=<%= product._id %>">
                                                  <%= product.product_name %>
                                                </a>
                                              </h3>
                                              <!-- End .product-title -->
                                        
                                              <div class="product-price">
                                                <% if (product.variants[0].offer) { %>
                                                  <!-- If offer is present, show original and discounted price -->
                                                  <p class="card-text text-danger">
                                                    <small><del>INR <%= product.variants[0].price %></del></small> <!-- Original price -->
                                                    INR <%= product.variants[0].discount_price %> <!-- Discounted price -->
                                                  </p>
                                                <% } else { %>
                                                  <!-- If no offer, show original price only -->
                                                  <p class="card-text text-danger">
                                                    INR <%= product.variants[0].price %>
                                                  </p>
                                                <% } %>
                                              </div>
                                              <!-- End .product-price -->
                                        
                                              <div class="ratings-container">
                                                <div class="ratings">
                                                  <!-- Calculate rating percentage (assumes rating is out of 5) -->
                                                  <div class="ratings-val" style="width: <%= (product.rating || 0) * 20 %>%"></div>
                                                  <!-- End .ratings-val -->
                                                </div>
                                                <!-- End .ratings -->
                                                <span class="ratings-text">( 2 Reviews )</span>
                                              </div>
                                              <!-- End .rating-container -->
                                            </div>
                                            <!-- End .product-body -->
                                          </div>
                                          <!-- End .product -->
                                        <% }) %>
                                        
                <!-- End .product -->
                

                </div>
                <!-- End .owl-carousel -->
              </div>


              <!-- .End .tab-pane -->
              <div
                class="tab-pane p-0 fade"
                id="trending-best-tab"
                role="tabpanel"
                aria-labelledby="trending-best-link"
              >
                <div
                  class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                  data-toggle="owl"
                  data-owl-options='{
                                            "nav": true, 
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'
                >
                <% product.forEach(product => { %>
                  <div class="product product-2">
                    <figure class="product-media">
                      <!-- Display offer badge if the first variant has an offer -->
                      <% if (product.variants[0].offer && product.variants[0].offer.offerPercentage) { %>
                        <span class="offer-badge position-absolute top-0 start-0 bg-success text-white p-2" style="font-size: 12px;">
                          <%= product.variants[0].offer.offerPercentage %> % off
                        </span>
                      <% } %>
                
                      <% if (product.variants[0].stock < 10) { %>
                        <span class="product-label label-circle label-top">Top</span>
                      <% } %>
                      
                      <a href="/product/<%= product._id %>">
                        <!-- Display the first image of the first variant by default -->
                        <img
                          src="/<%= product.variants[0].images[0] %>" style="width: 250px; height: 250px; object-fit: cover;"
                          alt="Product image"
                          class="product-image"
                        />
                      </a>
                
                      <div class="product-action-vertical">
                        <a href="javascript:void(0)" 
                           class="btn-product-icon btn-wishlist" 
                           title="Add to wishlist" 
                           data-product-id="<%= product._id %>" 
                           data-variant-id="<%= product.variants[0]._id %>">
                          <!-- Optional icon for wishlist -->
                        </a>
                      </div>
                      <!-- End .product-action-vertical -->
                
                      <div class="product-action">
                        <!-- Updated Add to Cart Button -->
                        <a href="javascript:void(0)"
                           class="btn-product btn-cart"
                           data-product-id="<%= product._id %>"
                           data-variant-id="<%= product.variants[0]._id %>"
                           data-price="<%= product.variants[0].price %>"
                           data-stock="<%= product.variants[0].stock %>"
                           title="Add to cart">
                           <span>add to cart</span>
                        </a>
                      </div>
                      <!-- End .product-action -->
                    </figure>
                    <!-- End .product-media -->
                
                    <div class="product-body">
                      <div class="product-cat">
                          <!-- Use the populated category name -->
                          <a href="/category/<%= product.category_id._id %>"><%= product.category_id.name %></a>
                      </div>
                      <!-- End .product-cat -->
                  
                      <h3 class="product-title">
                          <a href="/product/<%= product._id %>"><%= product.product_name %></a>
                      </h3>
                      <!-- End .product-title -->
                  
                      <div class="product-price">
                          <% if (product.variants[0].offer) { %>
                              <!-- If offer exists, show the original price and discounted price -->
                              <p class="card-text text-danger">
                                  <small><del>INR <%= product.variants[0].price %></del></small> <!-- Original price -->
                                  INR <%= product.variants[0].discount_price %> <!-- Discounted price -->
                              </p>
                          <% } else { %>
                              <!-- If no offer, show the regular price -->
                              INR <%= product.variants[0].price %>
                          <% } %>
                      </div>
                      <!-- End .product-price -->
                  
                      <div class="ratings-container">
                          <div class="ratings">
                              <!-- Calculate rating percentage (assumes rating is out of 5) -->
                              <div class="ratings-val" style="width: <%= (product.rating || 0) * 20 %>%"></div>
                              <!-- End .ratings-val -->
                          </div>
                          <!-- End .ratings -->
                          <span class="ratings-text">(<%= product.reviewsCount || 0 %> Reviews)</span>
                      </div>
                      <!-- End .rating-container -->
                  
                      <div class="product-nav product-nav-dots">
                          <!-- Loop through the product variants to display colors -->
                          <% product.variants.forEach(variant => { %>
                              <a href="#" style="background: <%= variant.color %>;">
                                  <span class="sr-only"><%= variant.color %></span>
                              </a>
                          <% }) %>
                      </div>
                      <!-- End .product-nav -->
                    </div>
                    <!-- End .product-body -->
                  </div>
                  <!-- End .product -->
                <% }) %>
                
                <!-- End .product -->
              

                
                </div>
                <!-- End .owl-carousel -->
              </div>
              <!-- .End .tab-pane -->


              <div
                class="tab-pane p-0 fade"
                id="trending-sale-tab"
                role="tabpanel"
                aria-labelledby="trending-sale-link"
              >
                <div
                  class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                  data-toggle="owl"
                  data-owl-options='{
                                            "nav": true, 
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'
                >
                <% onsale.forEach(product => { %>
                  <div class="product product-2">
                    <figure class="product-media position-relative">
                      <!-- Display offer badge if the product has an offer -->
                      <% if (product.variants[0].offer) { %>
                        <span class="offer-badge position-absolute top-0 start-0 bg-success text-white p-2" style="font-size: 12px;">
                          <%= product.variants[0].offer.offerPercentage %>% off
                        </span>
                      <% } %>
                
                      <% if (product.variants[0].stock < 10) { %>
                        <span class="product-label label-circle label-top">Top</span>
                      <% } %>
                      <a href="/product/<%= product._id %>">
                        <!-- Display the first image of the first variant -->
                        <img src="/<%= product.variants[0].images[0] %>" style="width: 250px; height: 250px; object-fit: cover;" alt="Product image" class="product-image" />
                      </a>
                
                      <div class="product-action-vertical">
                        <a href="javascript:void(0)" class="btn-product-icon btn-wishlist" title="Add to wishlist" data-product-id="<%= product._id %>" data-variant-id="<%= product.variants[0]._id %>"></a>
                      </div>
                      
                      <div class="product-action">
                        <a href="javascript:void(0)" class="btn-product btn-cart" data-product-id="<%= product._id %>" data-variant-id="<%= product.variants[0]._id %>" data-price="<%= product.variants[0].price %>" data-stock="<%= product.variants[0].stock %>" title="Add to cart">
                          <span>add to cart</span>
                        </a>
                      </div>
                    </figure>
                
                    <div class="product-body">
                      <div class="product-cat">
                        <a href="/category/<%= product.category_id %>"><%= product.category_id.name %></a>
                      </div>
                      
                      <h3 class="product-title">
                        <a href="/product/<%= product._id %>"><%= product.product_name %></a>
                      </h3>
                
                      <div class="product-price">
                        <% if (product.variants[0].offer) { %>
                          <!-- Display discounted and original price -->
                          <p class="card-text text-danger">
                            <small><del>INR <%= product.variants[0].price %></del></small> <!-- Original price -->
                            INR <%= product.variants[0].discount_price %> <!-- Discounted price -->
                          </p>
                        <% } else { %>
                          <!-- Regular price -->
                          INR <%= product.variants[0].price %>
                        <% } %>
                      </div>
                
                      <div class="ratings-container">
                        <div class="ratings">
                          <div class="ratings-val" style="width: <%= product.rating * 20 %>%"></div>
                        </div>
                        <span class="ratings-text">(<%= product.reviewsCount %> Reviews)</span>
                      </div>
                
                     
                    </div>
                  </div>
                <% }) %>
                
                
                <!-- End .product -->

           


                 
                </div>
                <!-- End .owl-carousel -->
              </div>
              <!-- .End .tab-pane -->



            </div>
            <!-- End .tab-content -->
          </div>
          <!-- End .col-xl-4-5col -->


        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .bg-light pt-5 pb-6 -->




 


    <div class="icon-boxes-container bg-transparent">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="icon-box icon-box-side">
              <span class="icon-box-icon text-dark">
                <i class="icon-rocket"></i>
              </span>
              <div class="icon-box-content">
                <h3 class="icon-box-title">Free Shipping</h3>
                <!-- End .icon-box-title -->
                <p>Orders $50 or more</p>
              </div>
              <!-- End .icon-box-content -->
            </div>
            <!-- End .icon-box -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="icon-box icon-box-side">
              <span class="icon-box-icon text-dark">
                <i class="icon-rotate-left"></i>
              </span>

              <div class="icon-box-content">
                <h3 class="icon-box-title">Free Returns</h3>
                <!-- End .icon-box-title -->
                <p>Within 30 days</p>
              </div>
              <!-- End .icon-box-content -->
            </div>
            <!-- End .icon-box -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="icon-box icon-box-side">
              <span class="icon-box-icon text-dark">
                <i class="icon-info-circle"></i>
              </span>

              <div class="icon-box-content">
                <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                <!-- End .icon-box-title -->
                <p>when you sign up</p>
              </div>
              <!-- End .icon-box-content -->
            </div>
            <!-- End .icon-box -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="icon-box icon-box-side">
              <span class="icon-box-icon text-dark">
                <i class="icon-life-ring"></i>
              </span>

              <div class="icon-box-content">
                <h3 class="icon-box-title">We Support</h3>
                <!-- End .icon-box-title -->
                <p>24/7 amazing services</p>
              </div>
              <!-- End .icon-box-content -->
            </div>
            <!-- End .icon-box -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>



    <!-- End .icon-boxes-container -->
  </main>
  <!-- End .main -->

  <footer class="footer">
    <div
      class="cta bg-image bg-dark pt-4 pb-5 mb-0"
      style="background-image: url(/images/demos/demo-4/bg-5.jpg)"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="cta-heading text-center">
              <h3 class="cta-title text-white">Get The Latest Deals</h3>
              <!-- End .cta-title -->
              <p class="cta-desc text-white">
                and receive
                <span class="font-weight-normal">$20 coupon</span> for first
                shopping
              </p>
              <!-- End .cta-desc -->
            </div>
            <!-- End .text-center -->

            <form action="#">
              <div class="input-group input-group-round">
                <input
                  type="email"
                  class="form-control form-control-white"
                  placeholder="Enter your Email Address"
                  aria-label="Email Adress"
                  required
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <span>Subscribe</span><i class="icon-long-arrow-right"></i>
                  </button>
                </div>
                <!-- .End .input-group-append -->
              </div>
              <!-- .End .input-group -->
            </form>
          </div>
          <!-- End .col-sm-10 col-md-8 col-lg-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .cta -->
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget-about">
              <img
                src="/images/demos/demo-4/logo.png"
                class="footer-logo"
                alt="Footer Logo"
                width="105"
                height="25"
              />
              <p>
                Praesent dapibus, neque id cursus ucibus, tortor neque egestas
                augue, eu vulputate magna eros eu erat.
              </p>

              <div class="widget-call">
                <i class="icon-phone"></i>
                Got Question? Call us 24/7
                <a href="tel:#">9747604603</a>
              </div>
              <!-- End .widget-call -->
            </div>
            <!-- End .widget about-widget -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Useful Links</h4>
              <!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="about.html">About JOLT</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">How to shop on JOLT</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact us</a></li>
              </ul>
              <!-- End .widget-list -->
            </div>
            <!-- End .widget -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Customer Service</h4>
              <!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Money-back guarantee!</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
              <!-- End .widget-list -->
            </div>
            <!-- End .widget -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">My Account</h4>
              <!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Sign In</a></li>
                <li><a href="cart.html">View Cart</a></li>
                <li><a href="#">My Wishlist</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help</a></li>
              </ul>
              <!-- End .widget-list -->
            </div>
            <!-- End .widget -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .footer-middle -->

    <div class="footer-bottom">
      <div class="container">
        <p class="footer-copyright">
          Copyright © 2019 Molla Store. All Rights Reserved.
        </p>
        <!-- End .footer-copyright -->
        <figure class="footer-payments">
          <img
            src="/images/payments.png"
            alt="Payment methods"
            width="272"
            height="20"
          />
        </figure>
        <!-- End .footer-payments -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .footer-bottom -->
  </footer>
  <!-- End .footer -->
</div>


<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
  <i class="icon-arrow-up"></i>
</button>





<div
class="modal fade"
id="signin-modal"
tabindex="-1"
role="dialog"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="icon-close"></i></span>
      </button>

      <div class="form-box">
        <div class="form-tab">
          <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="signin-tab"
                data-toggle="tab"
                href="#signin"
                role="tab"
                aria-controls="signin"
                aria-selected="true"
                >Sign In</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="register-tab"
                data-toggle="tab"
                href="#register"
                role="tab"
                aria-controls="register"
                aria-selected="false"
                >Register</a
              >
            </li>
          </ul>

          <div class="tab-content" id="tab-content-5">
            
              <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                <!-- Sign In Form -->
                <form id="login-form" method="post" onsubmit="login(event)">
                  <div class="form-group">
                    <label for="signin-email">Email address *</label>
                    <input type="text" class="form-control" id="signin-email" name="signin-email"  />
                  </div>
            
                  <div class="form-group">
                    <label for="signin-password">Password *</label>
                    <input type="password" class="form-control" id="signin-password" name="signin-password" />
                  </div>
            
                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>LOG IN</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="signin-remember" />
                      <label class="custom-control-label" for="signin-remember">Remember Me</label>
                    </div>
                    <a href="#" class="forgot-link">Forgot Your Password?</a>
                  </div>
                </form>
            
                <!-- Google Sign-In Button -->
                <div class="google-signin mt-4">
                  <a href="/auth/google" class="btn btn-outline-danger btn-block">
                    <i class="fab fa-google"></i> Sign in with Google
                  </a>
                </div>
             
            </div>
            

            <div
              class="tab-pane fade"
              id="register"
              role="tabpanel"
              aria-labelledby="register-tab"
            >
              <!-- Registration Form -->
              <div id="register-section">
                <form
                  id="register-form"
                  method="post"
                  onsubmit="signup(event)"
                >
                  <div class="form-group">
                    <label for="register-name">Name *</label>
                    <input
                      type="text"
                      class="form-control"
                      id="register-name"
                      name="register_name"
                      
                    />
                  </div>

                  <div class="form-group">
                    <label for="register-email">Your email address *</label>
                    <input
                      type="email"
                      class="form-control"
                      id="register-email"
                      name="register_email"
                   
                    />
                  </div>

                  <div class="form-group">
                    <label for="register-password">Password *</label>
                    <input
                      type="password"
                      class="form-control"
                      id="register-password"
                      name="register_password"
                     
                    />
                  </div>

                  <div class="form-group">
                    <label for="register-password-confirm"
                      >Confirm Password *</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="register-password-confirm"
                      name="register_password_confirm"
                   
                    />
                  </div>

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>SIGN UP</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="register-policy"
                        
                      />
                      <label
                        class="custom-control-label"
                        for="register-policy"
                        >I agree to the
                        <a href="#">privacy policy</a> *</label
                      >
                    </div>
                  </div>
                </form>
              </div>

              <!-- OTP Verification Section -->
              <div id="otp-section" style="display: none">
                <h3 class="text-center">Verify OTP</h3>
                <p class="text-center">Enter the OTP sent to your email</p>
                <form id="otp-form" onsubmit="verifyOtp(event)">
                  <div class="form-group">
                    <label for="otp-input">OTP *</label>
                    <input
                      type="text"
                      class="form-control"
                      id="otp-input"
                      name="otp-input"
                      required
                    />
                  </div>
                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>VERIFY OTP</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </div>
                </form>
                <div class="form-choice">
                  <p class="text-center">
                    Didn't receive the OTP? <span id="timer"></span>
                  </p>
                  <div class="row">
                    <div class="col-sm-12">
                      <button
                        id="resend-otp"
                        class="btn btn-outline-primary-2 btn-block"
                        disabled
                        onclick="resendOtp()"
                      >
                        <i class="icon-refresh"></i> Resend OTP
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

function signup(event) {
    event.preventDefault();

    const name = document.getElementById("register-name").value.trim();
    const email = document.getElementById("register-email").value.trim();
    const password = document.getElementById("register-password").value.trim();
    const confirmPassword = document.getElementById("register-password-confirm").value.trim();

    // Check if all fields are filled
    if (!name || !email || !password || !confirmPassword) {
        Swal.fire({
            title: "Error",
            text: "All fields must be filled.",
            icon: "error",
        });
        return;
    }

    // Name validation: Must not contain numbers or be empty
    if (!/^[a-zA-Z\s]+$/.test(name)) {
        Swal.fire({
            title: "Error",
            text: "Name must contain only letters and cannot be empty.",
            icon: "error",
        });
        return;
    }

    // Email validation: Check for a valid email format
    if (!isValidEmail(email)) {
        Swal.fire({
            title: "Error",
            text: "Please enter a valid email address.",
            icon: "error",
        });
        return;
    }

    // Password validation: Check if passwords match
    if (password !== confirmPassword) {
        Swal.fire({
            title: "Error",
            text: "Passwords do not match.",
            icon: "error",
        });
        return;
    }

    // Password validation: Minimum 6 characters, no spaces
    if (password.length < 6 || /\s/.test(password)) {
        Swal.fire({
            title: "Error",
            text: "Password must be at least 6 characters long and should not contain spaces.",
            icon: "error",
        });
        return;
    }

    // All validations passed, proceed with the fetch request
    fetch("/user/signup", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({ name, email, password }),
    })
    .then((res) => res.json())
    .then((data) => {
        if (data.success) {
            document.getElementById("register-section").style.display = "none";
            document.getElementById("otp-section").style.display = "block";
            startTimer();
        } else if (data.error) {
            Swal.fire({
                title: "Error",
                text: data.error,
                icon: "error",
            });
        }
    })
    .catch((error) => {
        Swal.fire({
            title: "Oops!",
            text: "Something went wrong! Please try again.",
            icon: "error",
        });
    });
}

// Helper function to validate email format using regular expression
function isValidEmail(email) {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
}

function resendOtp() {
  fetch("/user/resend-otp", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
      },
      body: JSON.stringify({ email: document.getElementById("register-email").value }),
  })
  .then((res) => res.json())
  .then((data) => {
      if (data.success) {
          Swal.fire({
              title: "Success",
              text: "OTP has been resent to your email.",
              icon: "success",
          });
          startTimer();
      } else if (data.error) {
          Swal.fire({
              title: "Error",
              text: data.error,
              icon: "error",
          });
      }
  })
  .catch((error) => {
      Swal.fire({
          title: "Oops!",
          text: "Something went wrong! Please try again.",
          icon: "error",
      });
  });
}

let timer;

function startTimer() {
  let duration = 10; // Duration in seconds
  clearInterval(timer); // Clear any existing timer

  const countdownElement = document.getElementById("timer");
  countdownElement.style.display = "inline"; // Show timer element
  countdownElement.innerHTML = `Resend OTP in ${duration} seconds`;

  document.getElementById("resend-otp").disabled = true; // Disable resend button

  timer = setInterval(() => {
      duration--;
      countdownElement.innerHTML = `Resend OTP in ${duration} seconds`;

      if (duration <= 0) {
          clearInterval(timer);
          countdownElement.innerHTML = "You can resend the OTP now";
          document.getElementById("resend-otp").disabled = false; // Enable resend button
      }
  }, 1000); // Update every second
}

// Initialize the resend button state
document.getElementById("resend-otp").disabled = true;

// OTP verification
function verifyOtp(event) {
  event.preventDefault();

  const email = document.getElementById("register-email").value;
  const otp = document.getElementById("otp-input").value;

  fetch("/user/verify-otp", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ email, otp }),
  })
    .then((res) => res.json())
    .then((data) => {
      if (data.success) {
        Swal.fire({
          title: "Success",
          text: "OTP verified. Please log in.",
          icon: "success",
        }).then(() => {
          document.getElementById("signin-tab").click(); // Redirect to login form
        });
      } else if (data.error) {
        Swal.fire({
          title: "Error",
          text: data.error,
          icon: "error",
        });
      }
    })
    .catch((error) => {
      Swal.fire({
        title: "Oops!",
        text: "Something went wrong! Please try again.",
        icon: "error",
      });
    });
}

// Login form submission
function login(event) {
  event.preventDefault();

  const email = document.getElementById("signin-email").value.trim();
  const password = document.getElementById("signin-password").value.trim();

  // Check if all fields are filled
  if (!email || !password) {
    Swal.fire({
      title: "Error",
      text: "Please fill in both email and password.",
      icon: "error",
    });
    return;
  }



  // Proceed with the login request if validation passes
  fetch("/user/login", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ email, password }),
  })
    .then((res) => res.json())
    .then((data) => {
      if (data.success) {
        Swal.fire({
          title: "Success",
          text: "Login successful",
          icon: "success",
        }).then(() => {
          window.location.href = "/user/"; // Redirect to home page
        });
      } else if (data.error) {
        Swal.fire({
          title: "Error",
          text: data.error,
          icon: "error",
        });
      }
    })
    .catch((error) => {
      Swal.fire({
        title: "Oops!",
        text: "Something went wrong! Please try again.",
        icon: "error",
      });
    });
}

// Helper function to validate email format using regular expression
function isValidEmail(email) {
  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  return emailRegex.test(email);
}


</script>
<script>
  $('.nav-link').on('click', function (e) {
    e.preventDefault();
    let categoryId = $(this).data('category-id');
    $.ajax({
        url: `/user/product?category=${categoryId}`,
        method: 'GET',
        success: function (data) {
            // Replace the products in the carousel with the new ones
            $('.owl-carousel').html(data); // Update your product section
        },
        error: function (error) {
            console.error('Error fetching products', error);
        }
    });
});

</script>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    // Get all the add to cart buttons
    const addToCartButtons = document.querySelectorAll('.btn-cart');

    addToCartButtons.forEach(button => {
        button.addEventListener('click', async function(event) {
            event.preventDefault();

            const productId = this.getAttribute('data-product-id');
            const variantId = this.getAttribute('data-variant-id');
            const quantity = 1; // Default quantity
            const stock = parseInt(this.getAttribute('data-stock')); // Get stock level

            // Check if stock is less than or equal to zero
            if (stock <= 0) {
                // SweetAlert for out of stock notification
                Swal.fire({
                    icon: 'warning',
                    title: 'Out of Stock',
                    text: 'This product is currently out of stock.',
                });
                return; // Exit the function
            }

            try {
                const response = await fetch('/api/cart/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId, variantId, quantity })
                });

                const data = await response.json();

                if (response.ok) {
                    // SweetAlert for success notification
                    Swal.fire({
                        icon: 'success',
                        title: 'Added!',
                        text: 'Product added to cart successfully!',
                        showConfirmButton: false,
                        timer: 1500 // Automatically closes after 1.5 seconds
                    });
                } else {
                    // SweetAlert for error notification
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.message || 'Failed to add product to cart.',
                    });
                }
            } catch (error) {
                console.error('Error:', error);
                // SweetAlert for catch block error
                Swal.fire({
                    icon: 'error',
                    title: 'Oops!',
                    text: 'An error occurred. Please try again.',
                });
            }
        });
    });
});

  </script>
<script>
  
  document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll('.btn-wishlist').forEach(button => {
          button.addEventListener('click', function(event) {
              event.preventDefault();
              const productId = this.getAttribute('data-product-id');
              const variantId = this.getAttribute('data-variant-id'); // Capture variantId

              fetch('/wishlist/add', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ productId, variantId }) // Include variantId in the request
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      Swal.fire({
                          title: 'Success!',
                          text: 'Product added to wishlist',
                          icon: 'success',
                          confirmButtonText: 'OK'
                      });
                  } else {
                      Swal.fire({
                          title: 'Error!',
                          text: data.message || 'Could not add product to wishlist',
                          icon: 'error',
                          confirmButtonText: 'OK'
                      });
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
                  Swal.fire({
                      title: 'Error!',
                      text: 'Something went wrong. Please try again later.',
                      icon: 'error',
                      confirmButtonText: 'OK'
                  });
              });
          });
      });
  });

</script>



  
  
<%- include('./partial/footer') %>


